/* Primary color */
:root {
    --primary-color: #003153;
  }
  
  /* Secondary color */
  :root {
    --secondary-color: #29702d;
  }
  
  /* Button styles */
  button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  /* Update button */
  button.update {
    background-color: green;
  }
  
  /* Delete button */
  button.delete {
    background-color: rgb(165, 18, 18);
  }
  
  /* Form styles */
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--primary-color);
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--primary-color);
  }
  
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  select {
    color: var(--primary-color);
  }
  
  button[type="submit"] {
    background-color: var(--primary-color);
    border: none;
  }
  
  button[type="submit"]:hover {
    background-color: var(--secondary-color);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    margin-right: 0.5rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }